header {background-color: #b0e2ff;} 
footer {background-color: #b0e2ff;
        height: 300px;}
        body {background-color: #ffa0fa;}
        <html>
        <body>
        
        <h2>My First JavaScript</h2>
        
        <button type="button"
        onclick="document.getElementById('demo').innerHTML = Date()">
        Click me to display Date and Time.</button>
        
        <p id="demo"></p>
        
        </body>
        </html> 
        